@model Pañol.Models.Item

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cod_Barras)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cod_Barras)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F_Alta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F_Alta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F_Baja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F_Baja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disponible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disponible)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
